.services {
    &-head {
        background-color: #ffffff;
        box-shadow: 0 14px 34.2px 3.8px rgba(0, 0, 0, 0.04);
        position: relative;
    }
}
.s-head {
    padding-top: 30px;
    transition: .3s;
    &-layout {
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;
        transition: .3s;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        transition: .3s;
    }
    &-logo {
        .logo-box {
            height: 130px;
            width: 200px;
            margin-top: 20px;
            margin-right: 20px;
            transition: .3s;
            &-bg {
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
            }
            img {
                width: 100%;
            }
        }
    }
    &-name {
        margin-right: 20px;
    }
    &-title {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 32px;
        color: $color-title2;
    }
    &-reviews {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 13px;
        display: flex;
        align-items: center;
        padding-top: 12px;
        padding-right: 20px;
    }
    &-action {
        display: flex;
        margin-right: 20px;
        .t-button {
            min-width: 170px;
            transition: .3s;
            &:not(:last-child){
                margin-right: 8px;
            }
        }
    }
    &-share {
        .share-link {
            font-family: 'Avenir Next Cyr Demi';
            font-size: 12px;
            color: $text-blue;
            padding-left: 25px;
            cursor: pointer;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='16' height='16' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0625)'/%3E%3C/pattern%3E%3Cimage id='image0' width='16' height='16' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABF0lEQVQ4jZXTyyqFYRQG4Gc7JCnChMjEISlDQzdgJBMpM6fELRhzB5QUMTUwMXIBhpQpIsrAeSKpTau+nb+/Hf9es/W23vdb31rvKnVNHqohmtCNe3wFra4G8kQiXuMW47UIxMv76Ex5Fw6CX1SgBx05rA+tRQRGsFEFv8RbRaAei9jGChoxgD2c4gpTuEv1kc/guyEBm1jIqK+iFzsYwkPCj9CO5yAHEALNmMu1N4xRXOTwMp6ywF8zaPl3OkngI7WajXOcYDfNIlsfqyzlO1jGUhpi/H8s/f0VZ9jCNG7wmDYQNYpYOfa9hvkcHiKDRXwQtl2vgvejragT4wZeqgi/FxX4xGxmheGLyMsVIxWJ43QTv+eMH5VyNtFvSJXhAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E%0A");
                background-size: cover;
                width: 16px;
                height: 16px;
                left: 0;
            }
        }

    }
}
