.title-pages {
    box-shadow: 0px 14px 34.2px 3.8px rgba(0, 0, 0, 0.04);
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:before {
        position: absolute;
        height: 2px;
        background-color: #124bb3;
        width: 50px;
        bottom: 0;
        left: calc(50% - 25px);
        content: '';
    }

    h1 {
        font: 32px $ab;
        color: #4b5b7b;
    }

    .instagram-container {
        color: #FFFFFF;
    }
}

.assessment-pages {
    @media #{$__480} {
        margin-top: 35px;
    }

    .services-assessment-stars {
        width: 154px;
        min-width: 154px;
        @media #{$__480} {
            margin-left: 20px;

        }
    }

    .services-assessment {

        @media #{$__480} {
            padding-left: 0;
            padding-right: 0;
            min-width: auto;
        }
    }

    .reviews-element--container {
        margin-top: 30px;

        background: #fafbfd;
        @media #{$__480} {
            margin-top: 0;
        }

        .reviews-el {
            display: flex;
            padding-top: 90px;
            padding-bottom: 30px;
            @media (max-width: 991px) {
                flex-direction: column;
                padding-top: 35px;
            }

            .left-box {

                .top-box {
                    display: flex;
                    max-width: 480px;
                    width: 100%;
                    margin-top: 20px;

                    @media (min-width: 480px) {
                        min-width: 480px;
                    }

                    .img-box {
                        width: 112px;
                        height: 112px;
                        min-width: 112px;
                        min-height: 112px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        background-color: #e2e6ed;

                        img {
                            max-width: 32px;
                            max-height: 32px;
                            width: auto;
                            height: auto;
                        }
                    }

                    .text-box {
                        margin-left: 30px;
                        @media #{$__480}{
                            margin-left: 15px;
                        }

                        h3 {
                            color: #25282d;
                            font: 13px $ad;
                            padding-bottom: 14px;
                        }

                        p {
                            font: 14px $am;
                            color: #676b73;
                            max-width: 210px;
                            min-width: 210px;
                            @media #{$__480}{
                                min-width: auto;
                            }
                        }

                        a {
                            font: 14px $am;
                            color: #03a9f4;
                            margin-top: 10px;
                            border: 1px solid #a5c4fd;
                            border-radius: 6px;
                            display: flex;
                            height: 30px;
                            padding-left: 32px;
                            padding-right: 15px;
                            align-items: center;
                            width: max-content;
                            position: relative;

                            &.facebook {
                                color: #4267b2;
                                border: 1px solid #4267b2;

                                &:before {
                                    background: url('/images/facebook(2).jpg') no-repeat;
                                }
                            }

                            &:before {
                                position: absolute;
                                width: 17px;
                                height: 15px;
                                left: 11px;
                                background: url('/images/twitter.jpg') no-repeat;
                                top: 7px;
                                content: '';
                                background-size: contain;
                            }
                        }
                    }
                }

                .bottom-box {

                    p {
                        font: 14px $am;
                        color: #33363c;
                        padding-bottom: 25px;
                        padding-top: 20px;
                    }


                    .star-box {

                        .services-assessment-box_item {

                            .services-assessment-title {

                            }

                            .services-assessment-stars {
                                width: 154px;
                                min-width: 154px;
                                @media #{$__480} {
                                    margin-left: 20px;
                                }

                                .el-rate {

                                    .el-rate__item {

                                        .el-rate__icon {

                                        }
                                    }
                                }

                                .services-assessment-text {

                                }
                            }
                        }
                    }
                }
            }

            .right-box {
                max-width: 552px;
                margin-left: auto;
                width: 100%;
                @media #{$__1100} {
                    margin-left: 20px;
                }
                @media (max-width: 991px) {
                    margin-top: 40px;
                    margin-left: 0;
                    max-width: 100%;
                }

                .text-box {
                    .text-el {
                        display: flex;
                        margin-bottom: 35px;
                        @media #{$__480} {
                            flex-direction: column;
                            margin-bottom: 30px;
                        }

                        h6 {
                            font: 16px $ad;
                            color: #33363c;
                            text-transform: none;
                            display: block;
                            width: 100px;
                            min-width: 100px;
                        }

                        p {
                            font: 14px/1.857 $am;
                            color: #33363c;
                        }
                    }

                    .bottom-menu {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        margin-top: 25px;
                        position: relative;

                        .arrow-bottom {
                            border: none;
                            border-right: 2px solid #0e0e0e;
                            border-bottom: 2px solid #0e0e0e;
                            width: 12px;
                            height: 12px;
                            transform: rotate(45deg);
                        }

                        p {
                            cursor: pointer;
                            font: 14px $ab;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            border-radius: 4px;
                            height: 25px;
                            margin: 0 10px;

                            &.green {
                                color: #19b000;
                                background: #d0edcd;
                            }

                            &.red {
                                color: #b00000;
                                background-color: #f9cfcf;
                            }
                        }

                        .arrow-top {
                            border: none;
                            border-left: 2px solid #0e0e0e;
                            border-top: 2px solid #0e0e0e;
                            width: 12px;
                            height: 12px;

                            transform: rotate(45deg);
                        }

                        &.is-active {
                            ul {
                                display: block;
                            }
                        }

                        ul {
                            position: absolute;
                            border-radius: 5px;
                            display: none;
                            background-color: rgb(255, 255, 255);
                            box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.13);
                            top: 34px;
                            width: 187px;
                            right: 0;
                            padding: 25px 15px;

                            li {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                margin-bottom: 8px;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                img {
                                    width: 22px;
                                    height: 22px;
                                    background-color: #e2e6ed;

                                }

                                p {
                                    padding-left: 10px;
                                    font: 14px $am;
                                    color: #19b000;
                                    width: auto;
                                    margin: 0;
                                    letter-spacing: -1px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .update-box-content {
            background-color: #f4fef7;
            display: flex;
            padding: 20px 0 20px 200px;
            @media (max-width: 991px) {
                display: none;
            }

            .text-box {
                h5 {
                    font: 19px $ad;
                    color: #000000;
                }

                h6 {
                    font: 13px $am;
                    color: #85bd94;
                    text-transform: none;
                    padding-bottom: 10px;
                }

                .bottom-box {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    p {
                        font: 13px $am;
                        color: #0e0e0e;
                        padding-left: 25px;

                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }
            }

            a {
                display: flex;
                align-items: center;
                border: 1px solid #d0e8d8;
                width: 130px;
                height: 40px;
                margin-top: 18px;
                background: #FFFFFF;
                border-radius: 5px;
                margin-left: 25px;
                justify-content: center;
                color: #0e0e0e;
                font: 14px $am;
            }
        }

    }
}

.give-feedback {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000007d;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 222;
    &.is-active{
        display: flex;
    }
    .popup-content {
        padding: 55px 65px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        width: 749px;
        height: auto;
        position: relative;
        z-index: 166;
        max-height: 90vh;
        overflow-x: auto;
        @media #{$__767} {
            padding: 20px 15px;
            width: calc(100% - 30px);
        }
        .close {
            position: absolute;
            right: 24px;
            top: 24px;
            width: 22px;
            height: 22px;
            opacity: 0.3;
            @media #{$__767} {
                top: 9px;
                right: 9px;
            }
            &:hover {
                opacity: 1;
            }
            &:before, &:after {
                position: absolute;
                left: 11px;
                content: ' ';
                height: 22px;
                width: 2px;
                background-color: #333;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }



        h2 {
            font: 26px $ad;
            color: #33363c;
            text-align: center;
        }

        form {
            width: 100%;
            margin-top:50px;

            .form-el {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 50px;
                align-items: center;
                @media #{$__767} {
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                }
                &.column-box{
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                }
                p {
                    font: 14px $ad;
                    color: #73777e;
                }

                .el-slider {
                    width: 240px;
                    @media #{$__767} {
                        width: 100%;
                    }
                    .el-slider__bar{
                            background: transparent;
                            height: 9px;
                    }
                    .el-slider__runway{
                        height: 9px;
                        background-image: -moz-linear-gradient( 180deg, rgb(0,195,37) 0%, rgb(128,170,19) 36%, rgb(255,144,0) 50%, rgb(243,72,0) 82%, rgb(231,0,0) 100%);
                        background-image: -webkit-linear-gradient( 180deg, rgb(0,195,37) 0%, rgb(128,170,19) 36%, rgb(255,144,0) 50%, rgb(243,72,0) 82%, rgb(231,0,0) 100%);
                    }
                    .el-tooltip.el-slider__button{
                        border: none;
                        background: #33363c;
                    }
                }
                textarea{
                    resize: none;
                    padding: 10px;
                    font: 14px $ad;
                    color: #73777e;
                    border: 1px solid rgb(210, 215, 224);
                    border-radius: 4px;
                    background-color: rgb(250, 251, 252);
                    height: 162px;
                    min-height: 162px;
                    display: block;
                    width: 100%;
                    margin-top: 10px;
                }
            }

            button {
                    border-radius: 3px;
                    background-color: rgb(18, 75, 179);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 164px;
                    height: 44px;
                    color:#fff;
                    font: 12px $am;
                    text-transform: uppercase;
                    margin: 25px auto 0;
                    border: none;
                    &:hover{
                        opacity: 0.7;
                    }
            }
        }
    }
}
.reviews-form {
    overflow-x: auto;
    height: 600px;
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(18, 75, 179);
        width: 2px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #f9f9f9;
    }
    .title-h2 {
        font-size: 20px;
    }
    form {
        padding-right: 20px;
    }
    .box-control .t-label {
        margin-bottom: 4px;
    }
    .t-control {
        margin-bottom: 20px;
    }
}
