.t-button {
    font-size: 14px;
    outline: none;
    width: 100%;
    border: none;
    transition: .3s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px 0;
    border-radius: 4px;
    &.blue {
        background-color: rgb(18, 75, 179);
        color: $color-white;
        &:hover {
            background-color: $color-violet;
        }
    }
    &.t-all {
        font-family: 'Avenir Next Cyr Bold';
        width: auto;
        font-size: 16px;
        line-height: normal;
        color: $color-blue;
        background-color: #d5e1f5;
        position: relative;
        border-radius: 4px;
        padding: 12px 42px 12px 14px;
        transition: .3s;
        border: none;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 14px;
            bottom: 0;
            margin: auto;
            width: 15px;
            height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='15' height='14' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0666667 0.0714286)'/%3E%3C/pattern%3E%3Cimage id='image0' width='15' height='14' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAApElEQVQokWNkwAF08l4IMDAwFDAwMEy4MkniAzZVTLg0MzAw7GdgYKgH0VCDSNJ8AUob4DIAp7MZIE6fz8DAkIBkmCOyF/BqJmQAQc34DGDUyXuxnoGBIYAYQ5AA2ABQgGENSQIAFIgKLAwMDBMZGBgOElCsj+a6xCuTJC4QE2AG0DiHuRCkcQGIQSiqcGrEq5mQRhAglDxxaiSkuRCfRgYGBgYAc5I7p1jGtXEAAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E%0A");
            background-size: cover;
        }
        &:hover {
            background-color: $color-dark;
        }
    }
    &.site-link {
        font-family: 'Avenir Next Cyr Demi';
        background-color: $color-blue;
        color: $color-white;
        line-height: 1.2;
        border-radius: 4px;
        padding: 7px;
        text-align: center;
        transition: .3s;
        .link-icon {
            position: relative;
            padding-right: 20px;
            &:before {
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='15' height='15' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0666667)'/%3E%3C/pattern%3E%3Cimage id='image0' width='15' height='15' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAA+0lEQVQokY2TQUoDQRBFXwwEb+IdvMEs3GQ7h8haL2Bu4N6doAjizp2gEJBcIFdQcKcI8cmPHZhIj5OCGpjpfl1Vf36j7pONulDf1aU6DXPAcLTAPTAGLoAP4AaYDlVt1bV6p07Kt7H6lA6G4Ns/4DbPM8IoLz1xCHyXpa/OlgnwDKxr1U7Ulb/xqp6qo7I2KZ1klKZvxkd1pl6q8wrYbjoeEIc+sAvXwHmpPCud7IBbuKmAmfFMfSuzr4oWO2Nm06IY4LiiaiJG+qz9kCwcAQ8V8Bq46gM3Ubwax8Q5veLUMo+YPJED4pyXfcCu2jkgHeTW5PZExP+tq/wAaUExtDuymFQAAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E%0A");
                width: 15px;
                height: 15px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &:hover {
            background-color: $color-dark;
        }
    }
    &.t-next {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 14px;
        background-color: $color-blue;
        color: $color-white;
        outline: none;
        width: 195px;
        border-radius: 4px;
        padding: 16px 20px 16px 0;
        transition: .3s;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='13' height='13' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0769231)'/%3E%3C/pattern%3E%3Cimage id='image0' width='13' height='13' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAdklEQVQokWPABf7//6+AUxIb+P//v8H////f//////z///8FiNUU8B8BSNb4HqqVJI0G2DQyQhkGePSC5Pqh7AsMDAyOINMa/pMG5rNAdR8g4FIHJPZGYvw1H8kdCdTVAAocaGiRZEMBSRqQNPaDIhhDgoGBAQAnQsdV/5q6YAAAAABJRU5ErkJggg=='/%3E%3C/defs%3E%3C/svg%3E%0A");
            width: 13px;
            height: 13px;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 55px;
            right: 0;
        }
        &:hover {
            background-color: $color-dark;
        }
    }

}
