.popular-category {

        .popular-category--content {

            h2 {
                font: 32px $ad;
                color: #4b5b7b;
                text-align: center;
            }

            .select-container {
                display: flex;
                flex-wrap: wrap;
                margin-top: 50px;
                justify-content: space-between;
                @media #{$__767} {
                    flex-direction: column;
                }
                @media #{$__480} {
                    max-width: 290px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                }
                .el-select{
                    width: calc(50% - 15px);
                    margin-bottom: 20px;
                    @media #{$__767} {
                        width: 100%;
                    }
                   .el-input .el-select__caret{
                        color: #25282d;
                    }
                    input{
                        border: none;
                        background-color: #fff;
                        box-shadow: 0 14px 34.2px 3.8px rgba(0, 0, 0, 0.06);
                        height:60px;
                        &::placeholder{
                            color: #25282d;
                            font: 16px $ad;
                        }
                    }
                }

            }

            a {
                position: relative;
                z-index: 1;
                font: 16px $ab;
                color: $color-blue;
                text-decoration: none;
                display: flex;
                width: max-content;
                padding: 12px 42px 12px 14px;
                margin: 25px auto 0;
                cursor: pointer;
                &:before{
                    position: absolute;
                    top: 0;
                    background-color: #c2e8d9;
                    left: 0;
                    width: 80px;
                    border-radius: 4px;
                    content:'';
                    height: 100%;
                    z-index: -1;
                    transition: .3s;
                }
                &:after{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 14px;
                    bottom: 0;
                    margin: auto;
                    width: 15px;
                    height: 14px;
                    background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='15' height='14' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0666667 0.0714286)'/%3E%3C/pattern%3E%3Cimage id='image0' width='15' height='14' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAApElEQVQokWNkwAF08l4IMDAwFDAwMEy4MkniAzZVTLg0MzAw7GdgYKgH0VCDSNJ8AUob4DIAp7MZIE6fz8DAkIBkmCOyF/BqJmQAQc34DGDUyXuxnoGBIYAYQ5AA2ABQgGENSQIAFIgKLAwMDBMZGBgOElCsj+a6xCuTJC4QE2AG0DiHuRCkcQGIQSiqcGrEq5mQRhAglDxxaiSkuRCfRgYGBgYAc5I7p1jGtXEAAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-size: cover;
                }
                &:hover{
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
}

.collections-container {
    margin-top: 100px;
        .collections-container--content {
            h2 {
                font: 26px $ad;
                color: #4b5b7b;
                text-align: center;
            }
            .collections-elements {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                  @media #{$__1024} {
                      flex-wrap: wrap;
                      justify-content: center;
                  }
                .collections--el {
                    width: calc(100% / 3 - 15px);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    @media #{$__1024} {
                        width: 290px;
                        margin-top: 10px;
                        margin-right: 15px;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                    @media #{$__480} {
                        margin-right: 0;
                    }
                    &:first-child{
                        .top-box {
                            background-color: #0353a4;
                        }
                    }
                    &:nth-child(2){
                        .top-box {
                            background-color: #13a713;
                        }
                    }
                    &:last-child{
                        .top-box {
                            background-color: #33363c;
                        }
                    }
                    .top-box {
                        height: 175px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        justify-content: center;
                        img {
                            max-width: 60px;
                            min-height: 60px;
                            width: auto;
                            height: auto;
                        }

                        p {
                            font: 26px $ad;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            margin-top: 20px;
                            text-align: center;
                        }
                    }

                    .bottom-box {
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                        align-items: center;
                        .img-box {
                            display: flex;
                            align-items: center;
                            img {
                                margin-right: 7px;
                                width: auto;
                                height: auto;
                                max-width: 27px;
                                max-height: 30px;
                            }
                        }

                        p {
                            font: 13px $ad;
                            color: #000000;
                        }
                    }
                }
            }
        }

}

.instagram-container {
    margin-top: 90px;
        .instagram-column-container {
            display: flex;
            justify-content: space-between;
            @media  #{$__1024}{
                flex-wrap: wrap;
                justify-content: center;
            }
            .instagram-column {
                width: calc(100% / 3 - 15px);
                @media  #{$__1100}{
                    width: calc(100% / 3 - 10px);
                }
                @media  #{$__1024}{
                    width: 290px;
                    margin-right: 15px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
                @media #{$__480} {
                    margin-right: 0;
                }
                &--box {
                    @media  #{$__1024}{
                        margin-top: 10px;
                    }
                    h3 {
                        font: 26px $ad;
                        color: #4b5b7b;
                        text-align: center;
                    }
                    .instagram-column--elements{
                        background-color: #ffffff;
                        box-shadow: 0 14px 34.2px 3.8px rgba(0, 0, 0, 0.06);
                        padding: 30px 35px 35px;
                        margin-top: 30px;
                        @media  #{$__1100}{
                            padding: 30px 20px 35px;
                            margin-top: 15px;
                        }
                        @media  #{$__1024}{
                            padding: 30px 15px 35px;
                        }
                        .instagram-column--box--el {
                            display: flex;
                            margin-top: 25px;
                            padding-bottom: 15px;
                            border-bottom: 1px solid #e5e5e5;

                            &:nth-child(5){
                                border-bottom: none;
                            }
                            .img-box {
                                width: 53px;
                                height: 53px;
                                min-width: 53px;
                                min-height: 53px;
                                @media  #{$__1024}{
                                    width: 48px;
                                    height: 48px;
                                    min-width: 48px;
                                    min-height: 48px;
                                }
                                img {
                                    border-radius: 50%;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .text-box {
                                margin-left: 10px;
                                h4 {
                                    font: 20px/1 $ad;
                                    color: #2c3135;
                                }

                                p {
                                    font: 12px/1 $am;
                                    color: #828c94;
                                    padding-top: 10px;
                                }
                            }

                            .last-box {
                                max-width: 85px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-left: auto;
                                @media  #{$__1024}{
                                    max-width: 77px;
                                }
                                a {
                                    font: 12px $ad;
                                    color: #124bb3;
                                    text-transform: uppercase;
                                    text-align: center;
                                    height: 25px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    border-radius: 4px;
                                    background-color: #c5d3ec;
                                    &:hover{
                                        background: #00bb00;
                                        color: #FFFFFF;
                                    }
                                }

                                .start-box {
                                    max-width: 100%;
                                    margin-top: 5px;
                                    img {
                                        width: 100%;
                                    }
                                }

                                span {
                                    font: 13px.1.2 $am;
                                    color: #25282d;
                                    letter-spacing: 0px;
                                }
                            }
                        }
                    }

                }

                .show-all {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #d7e1f2;
                    border-radius: 4px;
                    font: 14px $ab;
                    color: #124bb3;
                    position: relative;
                    height: 37px;
                    width: 100%;

                    &:hover{
                            background: #00bb00;
                            color: #FFFFFF;

                    }
                }
            }
        }

}

@keyframes pulseLeft {
    0%{
        left: 0;
    }
    100%{
        left: 10px;
    }
}
