.search {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    transition: .3s;
    &-box {
        display: flex;
        margin-bottom: 25px;
        transition: .3s;
    }
    &-input {
        width: 100%;
    }
    &-start {
        min-width: 200px;
    }
    &-btn {
        background-color: $color-default;
        color: $color-white;
    }
    .t-input {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        height: 80px;
        border-radius: 4px 0 0 4px;
        padding-left: 72px;

    }
    .search-icon {
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 9;
        &:before {
            content: '';
            position: absolute;
            top: -5px;
            left: 35px;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='20' height='21' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.05 0.047619)'/%3E%3C/pattern%3E%3Cimage id='image0' width='20' height='21' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAABtklEQVQ4jaXVzYvNcRTH8ddcFCU0GcQa47GRkpA8NJOnjIUVsbK0lH/A3lJWHooNC7EQyXNpTFNEsZIN8njFRnm4dOpM/fq697rXfDb30+/3/b7vOef7PefXs7B/hUI17MBuLMVMvMcjXMTDckNVJXA9TmBlmz1XcRgvm72cXPH7cDaf/cYt3MFnzM+oB/J3FEMZddMI1+IepuAZ9uNxkwCGcQq9eIfY/KG6IOrVk2mOw9a1gIUuYwO+Yi6OlQtqGfqqTDMi+9KmfqHnOJL+EPpK4HD6G20iK3UadUzCrhK4PP3tDmGhn3lgoSUlsDf92y6AKocxpwTW08/rEjheu3r1YS1PNrSpC1jUbmP6pyXwSvqhvFed6CBmZy2vl8BreJL38Rym/wO4CMfTx/o3JbCRvdnIHr6PZS1g2/L9LHzE0XJBdTgcwJn8k1+Zyl18wgLsxJrK3kamfr4VMLQ527C/Tcpx/6Zm///A3so5/AWU0yZm4R4szuJHlGO4kMCYkTexGt+xPadTU2Cn6ktIdNo3bMFI1Ot/FZ0Skb3AtKz5wESAoVcYxGvMwMmJAkPxKdiKB7j0B65yWOfC2p2dAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E%0A");
            background-size: cover;
        }
    }
    .search-btn {
        font-family: 'Avenir Next Cyr Demi';
        height: 80px;
        border-radius: 0 4px 4px 0;
        transition: .3s;
        &:hover {
            background-color: $color-white;
            color: $color-dark;
        }
    }
    &-link {
        text-align: center;
    }
    @media (max-width: $mobile) {
        &-box {
            flex-wrap: wrap;
        }
        &-input {
            margin-bottom: 10px;
        }
        .t-input {
            border-radius: 4px;
        }
        &-btn {
            border-radius: 4px;
        }
        &-start {
            min-width: 100%;
        }
        .search-icon {
            &:before {
                left: 18px;
            }
        }
        .t-input {
            padding-left: 50px;
            height: 60px;
        }
        .search-btn {
            height: 60px;
        }
    }
}
