.slider {
    background-color: $bg-slider;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1932px' height='1636px'%3E%3Cpath fill-rule='evenodd' opacity='0.09' fill='rgb(58, 63, 67)' d='M437.483,13.630 L1901.747,1043.208 C1933.823,1065.763 1941.542,1110.049 1918.988,1142.126 L1593.434,1605.127 C1570.880,1637.204 1526.593,1644.924 1494.516,1622.369 L30.253,592.790 C-1.823,570.236 -9.543,525.949 13.012,493.872 L338.566,30.872 C361.120,-1.205 405.407,-8.924 437.483,13.630 Z'/%3E%3C/svg%3E");
        top: -7vh;
        right: -80%;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    &-layout {
        padding-top: 120px;
        transition: .3s;
        position: relative;
    }
    .bold {
        font-family: 'Avenir Next Cyr Bold';
    }
    &-soc {
        position: absolute;
        top: 130px;
        left: 70px;
        transition: .3s;
        &-line {
            background-color: #4c4f57;
            width: 1px;
            height: 80px;
        }
        &-icon {
            display: block;
            &:first-child {
                margin-top: 50px;
                margin-bottom: 40px;
            }
            &:last-child {
                margin-top: 40px;
                margin-bottom: 50px;
            }
            i {
                font-size: 20px;
                color: #9ca0a7;
            }
        }
    }
    &-icons {
        text-align: center;
        margin-left: -9px;
    }
    &-content {
        font-family: 'Avenir Next Cyr Regular';
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
        transition: .3s;
    }
    &-text {
        font-size: 52px;
        line-height: normal;
        color: $color-white;
        transition: .3s;
        &.bold {
            font-family: 'Avenir Next Cyr Bold';
        }
    }
    &-scroll {
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
        .t-scroll {
            display: block;
            width: 20px;
            height: 32px;
            margin: 0 auto;
            cursor: pointer;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 20px;
                height: 32px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='32' viewBox='0 0 20 32' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='20' height='32' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.05 0.03125)'/%3E%3C/pattern%3E%3Cimage id='image0' width='20' height='32' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAYAAAASYli2AAABZklEQVRIie2WPUsDQRCGHxMjWlhEQUlEEBtby1iIoJWFXX6AjZWd1v4TK+0ljRZW2gmpBAtBUCyiKPEDCxXleGVlFuJxd5y5S5eBuWV35n2Yvb3b3QFJxFgJWAIWgCrgElvAGXACBJEyBwx5SdK2pEfF252kTUnFsD5c4STQAGrWbwJHwDVQAGaBNWDe4qdAHWhHVTgm6dJqupK0HFG991VJt5Z7LmnUxzqTDiyhKamcAPM+YTBne2HgigXakiopYN5nJL2ZttYJbNjgVoxw0QsifMe0+x7oVvVdUmDvMUrk4g8xsWkDPnvgnA1cJEzN2WtC/MZyqu5TKNuCt+K+8BR2bynjDjhsnY8MwC9ri4UMkEgbTJm3C3zmCdxIW2HuU+4D+8Augf4PGMnAGbI2cMAX60xlAFasfUq7wSb5nw3WVfgNHNv017uozmsOf5+9OqRyP0ZzO+h7ehXxnutlqdP+f50DfgDwUUH4Fd6LlQAAAABJRU5ErkJggg=='/%3E%3C/defs%3E%3C/svg%3E%0A");
                background-size: cover;
            }
        }
    }
    .t-button.t-all {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 14px;
        line-height: normal;
        color: $color-blue;
        background-color: $color-dark;
        padding: 12px 42px 12px 14px;
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
    @media (max-width: 1000px) {
        &-soc {
            display: none;
        }
        &-layout {
            padding-top: 60px;
            padding-left: 35px;
            padding-right: 35px;
        }
        &-text {
            font-size: 44px;
        }
    }
    @media (max-width: $mobile) {
        &-layout {
            padding-top: 44px;
        }
        &-text {
            font-size: 32px;
        }
        &-scroll {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    }
}
