.slider {
    background-color: $bg-slider;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1932px' height='1636px'%3E%3Cpath fill-rule='evenodd' opacity='0.09' fill='rgb(58, 63, 67)' d='M437.483,13.630 L1901.747,1043.208 C1933.823,1065.763 1941.542,1110.049 1918.988,1142.126 L1593.434,1605.127 C1570.880,1637.204 1526.593,1644.924 1494.516,1622.369 L30.253,592.790 C-1.823,570.236 -9.543,525.949 13.012,493.872 L338.566,30.872 C361.120,-1.205 405.407,-8.924 437.483,13.630 Z'/%3E%3C/svg%3E");
        top: -7vh;
        right: -80%;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    &-layout {
        padding-top: 120px;
        margin-left: 70px;
        padding-bottom: 200px;
        transition: .3s;
        position: relative;
    }
    .bold {
        font-family: 'Avenir Next Cyr Bold';
    }
    &-soc {
        position: absolute;
        top: 130px;
        left: 0;
        transition: .3s;
        &-line {
            background-color: #4c4f57;
            width: 1px;
            height: 80px;
        }
        &-icon {
            display: block;
            &:first-child {
                margin-top: 50px;
                margin-bottom: 40px;
            }
            &:last-child {
                margin-top: 40px;
                margin-bottom: 50px;
            }
            i {
                font-size: 20px;
                color: #9ca0a7;
            }
        }
    }
    &-icons {
        text-align: center;
        margin-left: -9px;
    }
    &-content {
        font-family: 'Avenir Next Cyr Regular';
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
        transition: .3s;
    }
    &-text {
        font-size: 52px;
        line-height: normal;
        color: $color-white;
        &.bold {
            font-family: 'Avenir Next Cyr Bold';
        }
    }
}
