@import "site/base/variables";
@import "site/base/fonts";
@import "site/base/common";

@import "site/layouts/header";
@import "site/layouts/footer";

@import "site/blocks/slider";
@import "site/blocks/search";
@import "site/blocks/button";
@import "site/blocks/form/input";
@import "site/blocks/box/whom";
@import "site/blocks/box/listCatalog";
@import "site/blocks/box/cardService";
@import "site/blocks/titleBox";
@import "site/blocks/pages";



@import "site/libs/font/fontawesome";
