@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota|Russo+One&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');
//font-family: 'Montserrat', sans-serif;
//font-family: 'Bellota', cursive;
//font-family: 'Russo One', sans-serif;
@import "variables";
@import "libs/bootstrap";
@import "libs/light-bootstrap-dashboard";
@import "libs/demo";
@import "blocks/category";
@import "blocks/searchService";
@import "blocks/form";
@import "common";
