@font-face {
    font-family: 'Poppins Thin';
    src: url('/fonts/poppins/Poppins-Thin.eot');
    src: url('/fonts/poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/poppins/Poppins-Thin.woff') format('woff'),
    url('/fonts/poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('/fonts/poppins/Poppins-Bold.eot');
    src: url('/fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/poppins/Poppins-Bold.woff') format('woff'),
    url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Black';
    src: url('/fonts/poppins/Poppins-Black.eot');
    src: url('/fonts/poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/poppins/Poppins-Black.woff') format('woff'),
    url('/fonts/poppins/Poppins-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr Regular';
    src: url('/fonts/avenir/AvenirNextCyr-Regular.eot');
    src: url('/fonts/avenir/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/avenir/AvenirNextCyr-Regular.woff') format('woff'),
    url('/fonts/avenir/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr Thin';
    src: url('/fonts/avenir/AvenirNextCyr-Thin.eot');
    src: url('/fonts/avenir/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/avenir/AvenirNextCyr-Thin.woff') format('woff'),
    url('/fonts/avenir/AvenirNextCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr Thin Italic';
    src: url('/fonts/avenir/AvenirNextCyr-ThinItalic.eot');
    src: url('/fonts/avenir/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/avenir/AvenirNextCyr-ThinItalic.woff') format('woff'),
    url('/fonts/avenir/AvenirNextCyr-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr Bold';
    src: url('/fonts/avenir/AvenirNextCyr-Bold.eot');
    src: url('/fonts/avenir/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/avenir/AvenirNextCyr-Bold.woff') format('woff'),
    url('/fonts/avenir/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr Demi';
    src: url('/fonts/avenir/AvenirNextCyr-Demi.eot');
    src: url('/fonts/avenir/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('/fonts/avenir/AvenirNextCyr-Demi.woff') format('woff'),
    url('/fonts/avenir/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr Medium';
    src: url('/fonts/avenir/AvenirNextCyr-Medium.eot');
    src: url('/fonts/avenir/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/avenir/AvenirNextCyr-Medium.woff') format('woff'),
    url('/fonts/avenir/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
