$color-dark: #33363c;
$color-white: #ffffff;
$color-blue: #2c6ee8;
$color-green: #5eb85c;
$color-gray: #828c94;

$color-title: #4b5b7b;
$color-text: #2c3135;

$bg-slider: #25282d;
$bg-light-gray: #fafbfd;


$color-placeholder: #767a81;

$tablet: 968px;
$mobile: 768px;
