$color-dark: #33363c;
$color-white: #ffffff;
$color-blue: #2c6ee8;
$color-green: #5eb85c;
$color-gray: #828c94;
$color-violet: #9530e1;
$color-default: rgb(36, 174, 119);

$color-title: #4b5b7b;
$color-title2: #25282d;
$color-text: #2c3135;

$text-blue: #124bb3;
$color-light-blue: #ccd8ee;

$bg-slider: #25282d;
$bg-light-gray: #fafbfd;
$bg-footer: #25282d;
$bg-mobile-menu: #1b1e22;


$color-placeholder: #767a81;

$tablet: 968px;
$mobile: 768px;
$mobile-mini: 340px;
