.control-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-auth {
    padding-top: 36px;
    transition: .3s;
    .control-flex {
        flex-wrap: wrap;
    }
    .remember {
        flex-basis: 100%;
        margin-left: auto;
        text-align: right;
        margin-bottom: 20px;
        transition: .3s;
        .el-checkbox__label {
            font-family: 'Avenir Next Cyr Medium';
            font-size: 14px;
            color: #74808b;
        }
        .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            background-color: #124bb3;
            border-color: #124bb3;
        }
    }
    .t-control {
        &:not(:last-child){
            margin-bottom: 26px;
        }
    }
    input:-internal-autofill-selected {
        background-color: #fafbfc !important;
    }
    &-link {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 14px;
        color: #73777e;
        .link-auth {
            text-transform: uppercase;
        }
    }
    .t-button {
        max-width: 196px;
    }
    @media (max-width: $mobile) {
        padding-top: 20px;
        .t-control {
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        .remember {
            text-align: center;
        }
        .t-button {
            order: 2;
            max-width: 100%;
        }
        &-link {
            order: 3;
            padding-top: 36px;
            text-align: center;
            margin: 0 auto;
            .link-auth {
                display: block;
            }
        }
    }
}
.t-flex-control {
    display: flex;
    align-items: center;
    .t-label_small {
        font-size: 14px;
        margin-right: 16px;
    }
}
