.control-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-auth {
    padding-top: 36px;
    transition: .3s;
    .control-flex {
        flex-wrap: wrap;
    }
    .remember {
        flex-basis: 100%;
        margin-left: auto;
        text-align: right;
        margin-bottom: 20px;
        transition: .3s;
        .el-checkbox__label {
            font-family: 'Avenir Next Cyr Medium';
            font-size: 14px;
            color: #74808b;
        }
        .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            background-color: #124bb3;
            border-color: #124bb3;
        }
    }
    .t-control {
        &:not(:last-child){
            margin-bottom: 26px;
        }
    }
    input:-internal-autofill-selected {
        background-color: #fafbfc !important;
    }
    &-link {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 14px;
        color: #73777e;
        .link-auth {
            text-transform: uppercase;
        }
    }
    .t-button {
        max-width: 196px;
    }
    @media (max-width: $mobile) {
        padding-top: 20px;
        .t-control {
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        .remember {
            text-align: center;
        }
        .t-button {
            order: 2;
            max-width: 100%;
        }
        &-link {
            order: 3;
            padding-top: 36px;
            text-align: center;
            margin: 0 auto;
            .link-auth {
                display: block;
            }
        }
    }
}
.t-flex-control {
    display: flex;
    align-items: center;
    .t-label_small {
        font-size: 14px;
        margin-right: 16px;
    }
}
.control-add {
    margin-bottom: 26px;
    position: relative;
    .t-flex-control {
        align-items: flex-end;
    }
    .input-box {
        flex-basis: 100%;
    }
    .box-control {
        width: 87%;
    }
    &-btn {
        position: absolute;
        top: 32px;
        right: 0;
        width: 60px;
        height: 92%;
        margin-left: 10px;
        background-color: #8a8d92;
        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='328' height='329' viewBox='0 0 328 329' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='144' width='328' height='40' fill='white'/%3E%3Crect x='145' width='40' height='329' fill='white'/%3E%3C/svg%3E%0A");
            background-size: cover;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 45%;
            right: 10px;
        }
        span {
            position: absolute;
            top: 48%;
            bottom: 0;
            right: 15px;
            margin: auto;
            font-size: 54px;
            color: #fff;
        }
        &.box-current {
            background-color: #44b142;
        }
    }
    &:not(.current-add){
        &:nth-child(odd){
            .control-add-btn {
                background-color: #e7edf7;
            }
        }
    }
}
.t-progress {
    width: 100%;
    position: relative;
    &-line {
        position: absolute;
        height: 5px;
        width: 0;
        background-color: $color-green;
        transition: .3s;
    }
    &-text {
        font-family: 'Avenir Next Cyr Demi';
        opacity: 0;
        transition: .5s;
        text-align: center;
        padding-top: 10px;
    }
    &.load {
        .t-progress-line {
            width: 100%;
        }
        .t-progress-text {
            opacity: 1;
        }
    }
}
