
.t-control {
    width: 100%;
    box-sizing: border-box;
    &-border {
        border-bottom: 1px solid #d2d7e0;
        padding-bottom: 20px;
    }
    .grid {
        grid-column-gap: 30px;
    }
    &.t-box {
        margin-bottom: 20px;
        .full {
            width: 100%;
        }
    }
    .t-box-image {
        &-cover {
            flex-basis: 50%;
            text-align: center;
            img {
                max-height: 78px;
            }
        }
        .control-flex {
            border: 1px solid;
            border-radius: 5px;
            padding: 10px;
        }
    }
}
.t-label {
    font-family: 'Avenir Next Cyr Demi';
    font-size: 14px;
    color: #73777e;
    &_small {
        font-family: 'Avenir Next Cyr Medium';
        color: #878e9b;
        padding-left: 4px;
    }
    &.label-t1 {
        color: #565960;
    }
}
.t-input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    position: relative;

    &::-webkit-input-placeholder, {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        color: $color-placeholder;
    }
    &::-moz-placeholder {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        color: $color-placeholder;
    }
    &:-ms-input-placeholder {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        color: $color-placeholder;
    }
    &:-moz-placeholder {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        color: $color-placeholder;
    }
}
.box-control {
    .t-label {
        margin-bottom: 15px;
        display: block;
    }
    .t-input {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 14px;
        color: $bg-slider;
        border: 1px solid rgb(210, 215, 224);
        border-radius: 4px;
        background-color: rgb(250, 251, 252);
        padding: 20px 20px 20px 22px;
    }
    &-child {
        margin-bottom: 10px;
        .t-label {
            margin-bottom: 5px;
        }
    }
}
