
.t-control {
    width: 100%;
    box-sizing: border-box;
}
.t-label {
    font-family: 'Avenir Next Cyr Demi';
    font-size: 14px;
    color: #73777e;
}
.t-input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    position: relative;

    &::-webkit-input-placeholder, {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        color: $color-placeholder;
    }
    &::-moz-placeholder {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        color: $color-placeholder;
    }
    &:-ms-input-placeholder {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        color: $color-placeholder;
    }
    &:-moz-placeholder {
        font-family: 'Avenir Next Cyr Medium';
        font-size: 16px;
        line-height: normal;
        color: $color-placeholder;
    }
}
.box-control {
    .t-label {
        margin-bottom: 15px;
        display: block;
    }
    .t-input {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 14px;
        color: $bg-slider;
        border: 1px solid rgb(210, 215, 224);
        border-radius: 4px;
        background-color: rgb(250, 251, 252);
        padding: 20px 20px 20px 22px;
    }
}
