.el-select.t-select {
    width: 100%;
    .el-select__input {
        margin-left: 5px;
    }
    .el-input__inner {
        padding: 0 30px;
        height: 60px !important;
        background-color: rgb(250, 251, 252);
        &::-webkit-input-placeholder {
            color: #878e9b;
        }
        &::-moz-placeholder {
            color: #878e9b;
        }
        &:-ms-input-placeholder {
            color: #878e9b;
        }
        &:-moz-placeholder {
            color: #878e9b;
        }
    }
    .el-select__tags {
        padding-left: 26px;
        transition: .3s;
    }
    &.many {
        .el-select__tags {
            margin-top: -8px;
        }
    }
    .el-input__suffix {
        right: 24px;
    }
    .el-select__caret {
        color: $color-dark;
    }
    .el-tag.el-tag--info {
        border-radius: 3px;
        background-color: rgba(18, 75, 179, 0.1);
    }
    .el-tag--small {
        padding: 0 12px 0 16px;
    }
    .el-select__tags-text {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 12px;
        color: #124bb3;
        text-transform: lowercase;
        line-height: 1.2;
    }
    .el-tag__close.el-icon-close {
        background-color: transparent;
        color: #124bb3;
        font-size: 14px;
        font-weight: 600;
        top: 1px;
    }
    &.gray {
        .el-select__tags {
            padding-left: 4px;
            &-text {
                color: #3e4552;
            }
        }
        .el-tag.el-tag--info {
            background-color: rgba(37, 40, 45, 0.1);
        }
    }
}
