.c-service {
    .c-header-box {
        margin-top: 60px;
        position: relative;
        .title-h2 {
            margin: 0 auto;
        }
        .service-all {
            position: absolute;
            top: 15px;
            right: 0;
        }
        .t-button.t-all {
            padding: 12px 42px 12px 25px;
            background: none;
            position: relative;
            z-index: 1;
            transition: .3s;
            &:before{
                position: absolute;
                height: 100%;
                width: 40%;
                left: 0;
                top: 0;
                background: #c2e8d9;
                content:'';
                z-index: -1;
                border-radius: 4px;
                transition: .3s;
            }
            &:hover {
                &:before{
                    width: 100%;
                }
            }
        }
    }
    .card-lists {
        padding-top: 50px;
        grid-column-gap: 30px;
        transition: .3s;
    }
    .c-list {
        position: relative;
        border-radius: 4px;
        background-color: $color-white;
        box-shadow: 0 14px 34.2px 3.8px rgba(0, 0, 0, 0.06);
        margin-bottom: 20px;

        .c-card-bookmark {
            position: absolute;
            width: 13px;
            height: 22px;
            right: 20px;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='13' height='22' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0769231 0.0454545)'/%3E%3C/pattern%3E%3Cimage id='image0' width='13' height='22' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAWCAYAAAAb+hYkAAAA10lEQVQ4je3UL0uDURSA8Z/bi5jENJA18wyGFQ22fQhBBEGR2bZi8A/LSxOLCho2DGJeNGi3r+wjDCZjGKbIhRtE3m1v11sO59zznOfeG+5CaaNcxjXWzF89VJMIdHGHrxlYDkehP4mGJ/QzmB5wmMvQmKr889A/lAFawT2W0zaTKVATuxjjOItpGzuoYA+b86Al3OAcz7jALRZnQWcYoRXzED9wMu1O66hhC5NYC/EAr3j8aRrGc7dxibdf9pBfoRMHvucLq8UBGnFaHZ8pj/OC8AHt4/QbD7Il5YvvQT8AAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E%0A");
                background-size: cover;
                width: 13px;
                height: 22px;
            }
        }
        &-layout {
            padding: 45px 20px 40px 20px;
            transition: .3s;
        }
        &-cover {
            min-height: 132px;
            text-align: center;
        }
        &-title {
            font-family: 'Avenir Next Cyr Demi';
            font-size: 20px;
            color: $color-text;
            padding-bottom: 18px;
        }
        &-desk {
            font-family: 'Avenir Next Cyr Medium';
            font-size: 14px;
            color: $color-text;
            padding-bottom: 18px;
            min-height: 106px;
        }
        &-action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 30px;
        }
        &-assessment {
            font-family: 'Avenir Next Cyr Demi';
            font-size: 13px;
            color: $color-green;
            padding-left: 20px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='14' height='14' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0714286)'/%3E%3C/pattern%3E%3Cimage id='image0' width='14' height='14' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABAklEQVQokY2SwU3DQBREnyMKSAmhAtIB5OYbDayWuAOnAkoAKgBZvkNue8Md4FSQ0EFKiCYaS8axI7608vfuzp8/85epiCmUMYWHqfObsU0DXoADcDt2ZzZR8Bn4AuYxhfW/gGbT2gBvLnIRWUxhCWgtgDvnTZXXRUxhDuzdcgv8+tuI8cd67oGdWcRGlddHYAVsAeWPwCdQZtbwDhRVXn9ccVns3/5dZd68Ch6C1MnMLelyIbA1D6OUwx1o6GrrIu0IUJcPHUjRfwByVe6pNeUag1x8dVEZODpHtXiMKUirRiDwk/Nz+30ZfUaN4wy2lqZnXMcmnRfOLaYetVz9cwacAJ/bXTvXlKNaAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E%0A");
                background-size: cover;
                width: 14px;
                height: 14px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto 0;
            }
        }
        &-reviews {
            font-family: 'Avenir Next Cyr Demi';
            font-size: 12px;
            color: $color-blue;
            background-color: rgb(233, 240, 252);
            padding: 10px;
        }
        &-info {
            font-family: 'Avenir Next Cyr Medium';
            font-size: 12px;
            color: $color-gray;
            text-align: center;
        }
    }
    .t-all.mobile {
        text-align: center;
        &:after {
            right: 0;
            left: 27px;
        }
    }
    @media (max-width: $mobile) {
        .c-header-box {
            margin-top: 40px;
            .service-all {
                display: none;
            }
        }
        .card-lists {
            padding-top: 30px;
        }
        .c-list {
            &:last-child {
                margin-bottom: 14px;
            }
            &-layout {
                padding: 45px 30px 40px 40px;
            }
        }
    }
}
