.popular-cat {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: $bg-light-gray;
    .title-h2 {
        color: #4b5b7b;
    }
    &-layout {

    }
}
.cat-list {
    padding-top: 50px;
    grid-row-gap: 20px;
    grid-column-gap: 30px;

    &-item {
        border-radius: 4px;
        box-shadow: 0 7px 58.5px 6.5px rgba(44, 49, 53, 0.06);
        background-color: $color-white;
    }
}
.cat-title {
    font-family: 'Avenir Next Cyr Demi';
    font-size: 16px;
    color: #25282d;
    cursor: pointer;
    padding: 24px 30px 20px 32px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: 30px;
        width: 12px;
        height: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='12' height='8' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0833333 0.125)'/%3E%3C/pattern%3E%3Cimage id='image0' width='12' height='8' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAAeElEQVQYlX2PMQqAMBAER/Ergo2FvZX4i/zOd4ivEME32FhZiciGC0SJbnV3OwNJVlY1QAGc/MczOdACB+B+cGdMK2EGVmD4kHRTJ2aWsAMdsCSkAKsTs+tdymaHyYCQGBbjPxKSkh7wW4il0fY+hlNCkBqbr0cD3OIiH/6N+9amAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: cover;
        transform: rotate(180deg);
        transition: .3s;
    }
    &.collapsed {
       &:after {
           transform: rotate(0deg);
       }
    }
}
.cat-content {
    padding-left: 32px;
    padding-right: 30px;
    padding-bottom: 20px;
}
@media (max-width: $mobile) {
    .popular-cat {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cat-list {
        padding-top: 26px;
        &-item {
            margin-bottom: 10px;
        }
    }
}
