.recommendations {
    .rem-item {
        &-box {
            border-radius: 4px;
            box-shadow: 0 6px 24.3px 2.7px rgba(0, 0, 0, 0.05);
            margin: 10px 20px 10px 10px;
            min-height: 150px;
            transition: .3s;
        }
        &-layout {
            padding: 16px 10px 35px 35px;
        }
        &-logo {
            max-height: 60px;
            img {
                width: auto;
                margin: 0 auto;
            }
        }
        &-assessment {

        }
        &-reviews {

        }
    }
    .owl-stage {
        margin-top: 50px;
    }
    .owl-carousel .owl-item {
        img {
            width: auto;
        }
        &:hover {
            .rem-item {
                &-box {
                    min-height: 200px;
                    margin-top: -40px;
                }
            }
        }
    }
}
