header {
    height: 84px;
    background: $color-dark;
    width: 100%;
    transform: .3s;
    position: sticky;
    top: 0;
    z-index: 20;
}

.header {
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
    }

    &-logo {
        a {
            font-family: 'Poppins Bold';
            font-size: 40px;
            color: $color-white;
            &:hover {
                color: $color-white;
            }
        }

    }
    &-drawer,
    &-lock {
        display: none;
    }
    &-menu {
        display: flex;
        align-items: center;
    }
    .b-nav-dropdown {
        list-style: none;
    }
    &-link {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 14px;
        color: $color-white;
        transition: .3s;
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }

        &:hover {
            color: $color-default;

            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 20px;
                background-color: $color-default;
                left: 0;
                right: 0;
                bottom: -10px;
                margin: 0 auto;
            }
        }

        &.nuxt-link-exact-active {
            color: $color-default;

            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 20px;
                background-color: $color-default;
                left: 0;
                right: 0;
                bottom: -10px;
                margin: 0 auto;
            }
        }
    }

    &-auth {
        display: flex;
        align-items: center;
        .nav-enter {
            font-family: 'Avenir Next Cyr Bold';
            font-size: 14px;
            color: $color-white;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 14px;
            transition: .3s;
            &:hover {
                text-shadow: 0 0 17px #2e51fd;
            }
        }
        .nav-reg {
            font-family: 'Avenir Next Cyr Demi';
            padding: 16px 30px 16px 30px;
            background-color: $color-blue;
            color: $color-white;
            transition: .3s;
            font-size: 14px;
            border-radius: 5px;
            &:hover {
                background-color: $color-default;
            }
        }
    }
}
@media (max-width: $tablet) {
    header {
        height: 70px;
    }
    .header {
        &-box {
            padding-top: 7px;
        }
        &-logo {
            font-size: 32px;
            padding-top: 16px;
        }
        &-drawer {
            display: block;
            position: relative;
            width: 30px;
            height: 23px;
            padding-top: 10px;
            .drawer-icon {
                position: absolute;
                width: 30px;
                height: 23px;
                cursor: pointer;
                span {
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 3px;
                    background-color: $color-white;
                    transition: .3s;
                    &:nth-child(2){
                        top: 10px;
                    }
                    &:last-child {
                        position: absolute;
                        bottom: 0;
                    }
                }
                &.active {
                    span {
                        &:first-child {
                            opacity: 0;
                        }
                        &:nth-child(2){
                            transform: rotate(-45deg);
                            top: 13px;
                        }
                        &:last-child {
                            transform: rotate(45deg);
                            bottom: 7px;
                        }
                    }
                }
            }
        }
        &-menu,
        &-auth {
            display: none;
        }
        &-lock {
            display: block;
            &-icon {
                padding-top: 10px;
                width: 19px;
                height: 24px;
                cursor: pointer;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='24' viewBox='0 0 19 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='19' height='24' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.0526316 0.0416667)'/%3E%3C/pattern%3E%3Cimage id='image0' width='19' height='24' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAYCAYAAAAYl8YPAAABZ0lEQVQ4ja2VO0sDURCFv8QYEYPZWhFBLCzEwl6wtRNsRBDS2mgV8G/YC1YWgqUptRARo1jZSBBtRAWL+CwUc5QbJ7Ase9dN4oFhLvM4Ozt3ZjcjiQQEwDwwATwDB0DVG+7IPLIg6UnSd0QqkopxOT6iWUkNk01Ji5LWJNWMeF9SJi1Z1ZJKEXtB0oX55tKQBRZc8zxoyfwbUV82po2B6TtPm1v2YtQRR9Yx/pUsFzr3AgPAYMgXxOQUTOfN3wBemxZr3oqkl5iZSiuHkobcrEwD58AncAZ8tfl2I8AYsOeqWrWnrydsQ5L0Sao7yYYu4aHtjv/iw/Y2k+Y2J4EtoOwSkgJzSU7DNjBl5xtg1xeYprK859wRWdn0KbDTLdmt6Xsb0K7I3iLaizQXcAXMAJftkPUkxB39wdPMdWSPZigBdbeuKaoNYxQYBq7dbvYDJ6FZ6hTLrV+d+/S4ysb/mvIYvAMV4PgH86OsIymCynkAAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E%0A");
                    background-size: cover;
                    width: 19px;
                    height: 24px;
                }
            }
        }
    }
}
.mobile-menu {
    position: sticky;
    top: 70px;
    z-index: 19;
    .m-menu {
        background-color: $bg-mobile-menu;
        height: 100vh;
        width: 90%;
        padding: 40px 36px 40px 36px;
        transition: .3s;
        .header-menu {
            display: block;
        }
        .header-link {
            font-size: 16px;
            display: block;
            margin-bottom: 24px;
            &:before {
                content: none;
            }
        }
        //Search
         .search-btn {
            display: none;
        }
    }
    .m-auth {
        background-color: $color-dark;
        width: 70%;
        padding: 30px 14px 36px 20px;
        transition: .3s;
        margin: 2px auto;
        .header-auth {
            display: block;

        }
        .nav-enter {
            display: block;
            margin-bottom: 20px;
            padding-left: 30px;
        }
        .nav-reg {
            display: block;
        }
    }
    @media (min-width: $tablet) {
        display: none;
    }
    @media (max-width: $mobile-mini) {
        .m-menu {
            padding: 40px 20px;
        }
    }

}
